@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700);

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.3;
    padding-top: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3, .markdown h1 { font-size: 24px; }
h4, .markdown h2 { font-size: 18px; }
h5, .markdown h3 { font-size: 14px; }
h6 { font-size: 12px; }

@media only screen and (min-width: 768px) {
    body {
        width: 100%;/*55%;*/ /*6.666%;*/
        margin: 0;
        padding: 0;
        background: #f3f3f3;
    }
    .container {
        margin: auto;
        margin-top: 0em;
        margin-bottom: 0em;
        width: 55%;
        padding-top: 1em;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 3em;
    }
}

body {
    padding: 0;
    font-family: Merriweather, serif;
    font-size: 14.4px;
}

.container {
    background: white;
}

h1 a, h2 a, h3 a {
    text-decoration: none;
    color: black;
}
h1 a:hover, h2 a:hover, h3 a:hover {
    color: black;
}

header {
    text-align: center;
}

nav {
    display: block;
    margin: 1em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav li {
    display: inline;
    float: center;
    padding: 1em;
    position: relative;
}
  
nav li a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

nav ul li:hover {
    cursor: default;
    text-decoration: underline;
    color: #991200;
}

nav ul li ul {
    visibility: hidden;
    min-width: 160px;
    position: absolute;
    text-align: left;
    left: 0;
    z-index: 999;
    background: white;
    padding: 0.125em 0.5em 0.5em 0;
    border-radius: 8px;
}

nav ul li:hover > ul,
nav ul li ul:hover {
    visibility: visible;
}

nav ul li ul li {
    clear: both;
    padding: 0 0 0 1em;
    width: 100%;
    display: block;
}

nav ul li ul li a:hover {
    text-decoration: none;
    color: #991200;
}

p {
    margin-top: 1.3em;
    margin-bottom: 0;
    line-height: 1.5;
}
h1 + p, h2 + p, h3 + p {
    margin-top: 0;
}

ul {
    margin-top: 0;
}

pre, code {
    display: block;
    word-wrap: break-word;
}

img {
    max-width: 100%;
}

article {
    margin-top: 2em;
    margin-bottom: 3em;
}

a {
    text-decoration: underline;
    color: #000;
}
a:hover {
    color: #991200;
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

/* masonry */
.grid-item {
    display: inline-block;
    background: #ddd;
    border-radius: 1em;
    padding: 1%;
    margin: 0.5%;
}
.grid-item img {
    border-radius: 1em;
}
.grid-item 1x1 {
    width: 25%;
}
.grid-item 2x1 {
    width: 50%;
}

/* disqus */
#disqus_thread {
    margin-top: 1em;
}
