body {
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 0.4px;
}

.content-track {
    width: 100%;
    margin: auto;
}
@media (min-width: 768px) {
    .content-track {
	width: 66.6667%;
	padding: 0;
    }
}

.row {
    padding: 0;
}

.header {
    padding: 0.5em;
    z-index: 9999;
    background-color: white;
    /*margin-bottom: 3em;*/
}
@media (min-width: 768px) {
    .header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
        height: 9em;
    }
}
@media (min-width: 1280px) {
    .header {
        height: 7.25em;
    }
}
.navbar-nav>li:hover {
    border-radius: 10px;
}
.navbar-nav>li ul li a {
    padding-left: 1em;
}
.navbar-nav>li ul li a:hover {
    background: white;
    color: #337ab7;
}
.navbar-nav>li a:hover {
    border-radius: 10px;
}
.navbar .navbar-toggle .icon-bar {
    background-color: black;
}
.dropdown-toggle {
    border-radius: 10px;
}
.nav .dropdown-menu {
    background: #fff;
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 14em;
    border-radius: 10px;
}
.nav>li {
    margin: 0.1em;
}
.nav>li .dropdown-menu {
    left: 0;
    text-align: left;
}
@media (min-width: 768px) {
    .nav>li:last-child .dropdown-menu {
	left: auto;
	right: 0;
	text-align: right;
    }
}

.header-menu {
    float: right;
}

.navbar-header .header-title {
    letter-spacing: 0.5pt;
    font-size: 1.75em;
    font-weight: 100;
    color: #05054a;
    text-decoration: none;
}
@media (min-width: 1280px) {
    .navbar-header .header-title {
	font-size: 2.3em;
    }
}

.header-logo {
    height: 2em;
    margin-right: 0.5em;
}

.header-title:hover {
    color: #05054a;
    text-decoration: none;
}

.header-tagline {
    font-size: 0.8em;
}

.navbar-default {
    background: transparent;
    border: 0;
    box-shadow: 0px 0px;
}

.navbar .join-menu-item a {
    color: #337ab7;
}

.page-header {
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
    border-bottom: none;
    font-size: 1.1em;
}

.banner-top {
    margin-top: -2em;
}
.banner img {
    width: 100%;
}

.content {
    float: clear;
}
@media (min-width: 768px) {
    .content {
	margin-top: 9em;
    }
}
@media (min-width: 1280px) {
    .content {
	margin-top: 7.25em;
    }
}

.post {
    margin-bottom: 1em;
    font-size: 1em;
}

.page {
}

.page ul {
    font-size: 1.15em;
}

@media (max-width: 768px) {
    .post p, .page p {
	padding-left: 1em;
	padding-right: 1em;
    }
}

.page-title, .post-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5em;
    font-weight: 300;
}
.post-title {
    text-align: center;
}
.page-title {
    margin-left: 0.5em;
}

.post-meta {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: -0.5em;
}

p, .bottom-nav {
    font-size: 1.15em;
    margin: 0;
}

.navbar a {
    color: black;
}
.dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-align: right;
}
/*
a:hover {
    color: red;
}*/

.section-title {
    font-size: 3.2em;
    font-weight: 300;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}

h1, h2 {
    text-align: center;
}
.post .meta {
    text-align: center;
}
.post .h2 {
    margin-top: 0;
}
.post {
    margin-top: 1em;
    margin-bottom: 3em;
}
.important {
    background: rgb(245, 250, 252);
    border: 4px solid rgb(51, 122, 183);
    border-radius: 2em;
    padding: 1em;
}

.white-section {
    padding-bottom: 2em;
}
.black-section {
    background: #111;
    color: white;
    padding-bottom: 2em;
}
.gray-section {
    background: #f4f4f4;
    color: black;
    padding-bottom: 2em;
}

strong {
    font-weight: 500;
}

blockquote {
    border: none;
    font-style: italic;
    margin-top: 1em;
}

.quoter {
    text-align: right;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 2em;
}

.footer {
    text-align: center;
    font-size: 0.8em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.link-btn {
    width: 33%;
    display: block;
    text-align: center;
    margin-top: 1em;
}
.btn {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #337ab7;
    color: #337ab7;
    background: none;
}
.btn:hover {
    border-color: #47aaff;
    color: #47aaff;
}
.btn:hover a {
    color: #47aaff;
}
.btn:active, .content .btn:active {
    border-color: black;
    color: black;
    box-shadow: none;
}

form {
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.icon {
    width: 50%;
    padding: 1em;
}

.btn-group {
    position: static;
    width: 100%;
    margin: auto;
}
.btn-group .btn {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 50%;
    margin: auto;
}

.input-group-row {
    width: 90%;
    margin: auto;
}
@media (min-width: 768px) {
    .input-group-row {
	width: 30%;
    }
}

/* Masonry */
.grid-item {
    width: 49%;
}
@media (min-width: 768px) {
    .grid-item {
	width: 24%;
    }
}

.exec-profile {
    background: #ddd;
    padding: 1em;
    margin: 0.5%;
    border-radius: 1em;
    text-align: center;
}
.exec-profile img {
    border-radius: 4px;
}
.exec-name {
    font-size: 1.25em;
}

/* Carousel */
.carousel {
    margin-bottom: 1.8em;
}
.carousel-img {
    background-size: cover;
    height: 35.16vw;
    position: relative;
}
.carousel img {
    width: 100vw;
    display: block;
}
.carousel-text {
    position: absolute;
    background: black;
    opacity: 0.85;
    bottom: 2em;
    color: white;
    padding: 1em;
    visibility: hidden;
}
@media (min-width: 768px) {
    .carousel-text {
	font-size: 1.5em;
	max-width: 50%;
	visibility: visible;
    }
}
.slick-dots {
    bottom: -32px;
}
.right {
    right: 2em;
}
.left {
    left: 2em;
}
.center {
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}
button .btn-carousel {
    border: 4px solid red;
    background-color: red;
}

p img {
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 1em;
}

img {
    max-width: 100%;
}

.content a:hover {
    color: #47aaff;
    text-decoration: none;
}

.page-padded {
    padding: 0 1.5em;
}
