body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-weight: 300;
    color: white;
    margin: 0;
    padding: 0;
    background: black;
}
h1 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-weight: 300;
    text-align: center;
}
#swarm-canvas {
    margin: 0;
    padding: 0;

    /* no smoothing */
    image-rendering: optimizeSpeed;         /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;      /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                    */
    image-rendering: -o-crisp-edges;        /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;             /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor; /* IE                          */
}

#hud {
    background: rgba(255, 255, 255, 0.2);
    padding: 0.5em;
    position: absolute;
    top: 30;
    right: 30;
    text-align: right;
}
#credits {
    margin-top: 1em;
}
#about {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 0.5em;
    max-width: 36%;
}
li {
    text-align: left;
}
input {
    vertical-align: middle;
}
a {
    color: hsl(180, 50%, 50%);
    text-decoration: none;
}
a:hover {
    color: hsl(180, 75%, 75%);
}